@charset "UTF-8";
/*Importacion de partials*/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;700&family=Mulish:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: themillon;
  src: url(../fonts/AveBetwan.ttf); }

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh; }

.nav__logo {
  width: 64px;
  height: 64px; }
  .nav__logo:hover {
    transform: scale(1.2);
    transition: all 0.6s ease-in-out; }

/*Menú de pagina Index  */
.menureceta__img {
  width: 15vh;
  height: 15vh;
  margin-top: 2%;
  margin-left: 3vh;
  margin-bottom: 10%;
  border: 10px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 4px 6px 16px 3px rgba(82, 64, 64, 0.45); }
  .menureceta__img:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out; }

/* Fin de menú index */
/* Button flotante */
.btn-flotante {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: White;
  border-radius: 5px;
  letter-spacing: 2px;
  background-color: #ff7f50;
  padding: 18px 30px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99; }
  .btn-flotantehover {
    background-color: #ca3904;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px); }

.rsocial {
  background-color: coral;
  width: 3rem;
  height: 9rem;
  border-radius: 5%;
  position: absolute;
  top: 15%;
  right: 20px; }
  .rsocial ul {
    list-style: none;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    .rsocial ul li {
      transition: all 0.5s ease; }
      .rsocial ul li a {
        text-decoration: none;
        font-size: 1.5rem; }
      .rsocial ul li:hover {
        transform: scale(1.3); }
  .rsocial .ico {
    width: 32px;
    height: 32px; }

/* SASS II*/
.btn--facebook {
  background-color: blue; }

.btn--youtube {
  background-color: red; }

.btn--instagram {
  background-color: purple; }

.footer__listaRedes {
  list-style: none;
  display: flex; }
  .footer__listaRedes .footer__itemsL {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px; }
  .footer__listaRedes .footer__logoRedes {
    width: 32px;
    height: 32px;
    align-items: stretch;
    margin-top: 2vh; }
  .footer__listaRedes .footer__bannerLogo {
    width: 200px;
    margin-top: 2vh; }

.footer__lista {
  margin-top: 2vh;
  list-style: none;
  text-align: center; }

.footer__bannerLogo {
  width: 200px;
  margin-top: 2vh; }

.ListaRED {
  list-style: none; }

/* Inicio de media Query Celular */
/* Inicio de query pantallas de 1280px a 1400px */
@media (min-width: 1280px) and (max-width: 1500px) {
  .btn-flotante {
    font-size: 14px;
    padding: 6px 19px;
    margin-bottom: 12vh;
    bottom: 19px;
    right: 19px; }
  #menuNav {
    margin: 2vh; }
  #Enunciado {
    text-align: ubicacion; } }

@media (min-width: 360px) and (max-width: 784px) {
  .menureceta__img {
    width: 7vh;
    height: 7vh;
    margin-left: 0vh;
    margin-bottom: 10%;
    border: 10px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 4px 6px 16px 3px rgba(82, 64, 64, 0.45); }
  #MenuBar {
    display: none; }
  #container {
    height: 45vh; }
  .btn-flotante {
    font-size: 14px;
    padding: 6px 10px;
    bottom: 10px;
    right: 10px; }
  .main_textoNosotros {
    font-size: x-small; }
  /* pagina contactos */ }

/*modificacion de clase de bootstrap */
.card {
  justify-content: center;
  align-items: center;
  margin-top: 5%; }
  .card .div__linkVideo {
    width: 75%;
    height: 50vh;
    align-items: center; }
  .card .div__listaIngredientes {
    color: #ff7f50; }

/* Pagina Receta (se saca estilo de la lista) */
.sinEstilo {
  list-style: none;
  text-decoration: underline; }

/* Pagina Galeria */
.animacionLogo:hover {
  animation-duration: 5s;
  animation-name: animLogo;
  animation-iteration-count: infinite;
  transition: 1.5s;
  transform: rotate3d();
  border-radius: 70%; }

@keyframes animLogo {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotateY(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotateY(180deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotateY(360deg); } }

/* fin pag galeria */
/* Pag nosotros */
.main__fondoNosotros {
  background-image: url(../img/FondoNosotros1.jpg);
  background-size: cover;
  background-position: center; }
  .main__fondoNosotros .main_textoNosotros {
    text-align: center;
    margin-left: 15%;
    margin-right: 25%;
    margin-bottom: 10px;
    list-style: none; }

.textosweb, .textoUbicanos {
  font-size: 20px;
  color: #ff7f50;
  text-align: justify; }

.textoUbicanos {
  font-size: 14px;
  margin-right: 8vh;
  margin-left: 4vh;
  text-align: center; }

/* pag contacto */
.TamañoIco {
  width: 64px;
  height: 64px; }

.mapa__link {
  width: 45vh;
  height: 45vh;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px; }

.formulario {
  margin-right: 4vh; }
  .formulario .tituloFormulario {
    margin-top: 30px;
    margin-right: 4vh;
    text-align: center; }
  .formulario .tabla__form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-attachment: fixed;
    background-image: url(../img/formulario.jpg);
    background-size: 100% 100%;
    color: blanchedalmond; }

#container {
  background-image: url(../img/newsletter.png);
  box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
  text-align: center;
  border-radius: 5px;
  margin: 3em auto;
  height: 40vh;
  width: 100%;
  padding: 2em; }

.titulo {
  font-family: themillon;
  color: #ff7f50;
  text-align: center;
  font-size: 60px;
  margin-top: auto; }
  .titulo .titulo_p {
    color: #ff7f50;
    font-size: large; }

hr {
  margin-left: 25%;
  margin-right: 25%;
  color: black; }

.email {
  margin-bottom: 5px; }

h4 {
  margin-top: 2%;
  margin-bottom: 2rem;
  text-decoration: underline;
  color: #ff7f50;
  font-size: larger; }

.h4--modificador {
  margin-top: 3vh;
  margin-left: 4vh;
  margin-bottom: 4vh;
  text-align: left;
  text-decoration: none; }
