
//Mixins para Social sin parametros
@mixin posRsocial {   
    width: 3rem;   
    height: 9rem;
    border-radius: 5%;
}
.rsocial{
    background-color: $colorRedes;
    @include posRsocial;
    position: absolute;
    top: 15%;
    right: 20px;
    ul{
        list-style: none;   
        padding:1rem ;     
        display: flex;    
        justify-content: space-around;
        align-items: center;
        flex-direction:column;
        li{
            transition: all 0.5s ease;
            a{                
                text-decoration: none;
                font-size: 1.5rem;
            }&:hover{
                transform: scale(1.3);
            }
        }
    }
    .ico{
        width: 32px;
        height: 32px;
    }
}
/* SASS II*/
$redes:(
    facebook:blue,
    youtube:red,
    instagram:purple
);
//uso de operadores
@each $red,$color in $redes {
    .btn--#{$red}{
        background-color: $color;
    }
}



