
.footer__listaRedes {
    list-style: $sinVineta;
    display: flex; 
	.footer__itemsL {
		list-style: $sinVineta;
		margin-left: 20px;
		margin-right: 20px;
    }	
	.footer__logoRedes {
    width: 32px;
    height: 32px;
    align-items: stretch;
    margin-top: 2vh;
    }
    .footer__bannerLogo {
    width: 200px;
    margin-top: 2vh;
}
}
.footer__lista {
    margin-top: 2vh;
    list-style: none;
    text-align: $ubicacion;
}
.footer__bannerLogo {
    width: 200px;
    margin-top: 2vh;
}
.ListaRED {
    list-style: $sinVineta;
}